@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');


body {
  font-family: 'Roboto', sans-serif;
  background: #f7f7f7 !important;
}

.shell {
  padding: 80px 0;
  min-width: 73.2rem;
}

.navbar-nav .nav-link {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 12px;
  margin-right: 10px;
}

.navbar-nav .nav-link i {
  color: white;
  margin-right: 5px;
}




.wsk-cp-product {
  padding: 15px;
  border-radius: 6px;
  box-shadow: 2px 4px 12px rgba(25,27,42,0.05);
  position: relative;
  margin: 15px auto;
  background: white;
}

#titolo-1 {
   background-image: linear-gradient(to right, black, #8d8d8d);
  text-align: center;
  padding: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.wsk-cp-img {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}

.wsk-cp-img img {
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}

.wsk-cp-product:hover .wsk-cp-img {
  top: -40px;
}

.wsk-cp-product:hover .wsk-cp-img img {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.wsk-cp-text {
  padding-top: 100%;
}

.wsk-cp-text .category {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 45px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.wsk-cp-text .category > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wsk-cp-text .category > span {
  padding: 12px 30px;
  border: 1px solid #313131;
  background: #212121;
  color: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 27px;
  transition: all 0.05s ease-in-out;
}

.wsk-cp-product:hover .wsk-cp-text .category > span {
  border-color: #ddd;
  box-shadow: none;
  padding: 11px 28px;
}

.wsk-cp-product:hover .wsk-cp-text .category {
  margin-top: 0px;
}

.wsk-cp-text .title-product {
  text-align: center;
}

.wsk-cp-text .title-product h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 15px auto;
  overflow: visible;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.wsk-cp-text .description-prod p {
  margin: 0;
  padding: 6px 10px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-footer {
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}

.card-footer:after,
.card-footer:before {
  content: '';
  display: table;
}

.card-footer:after {
  clear: both;
}

.card-footer .wcf-left {
  float: left;
}

.card-footer .wcf-right {
  float: right;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.buttonLogin {
    background-color: transparent;
    color: white !important;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 32px;
}

.buttonLogin .nav-link {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white !important;
    font-family: Montserrat, sans-serif;
    line-height: 1.2;
}

.buttonLogin .nav-link small {
    display: block;
    font-size: 14px;
    margin-bottom: 2px;
}



a.buy-btn {
  display: block;
  color: #212121;
  text-align: center;
  font-size: 18px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid #212121;
  transition: all 0.2s ease-in-out;
}

a.buy-btn:hover,
a.buy-btn:active,
a.buy-btn:focus {
  border-color: #ff9800;
  background: #ff9800;
  color: #fff;
  text-decoration: none;
}

.wsk-btn {
  display: inline-block;
  color: #212121;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #ff9800;
  background: #ff9800;
  padding: 12px 30px;
  border-radius: 27px;
  margin: 0 5px;
}

.wsk-btn:hover,
.wsk-btn:focus,
.wsk-btn:active {
  text-decoration: none;
  color: #fff;
}

.red {
  color: #f44336;
  font-size: 22px;
  display: inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 991px) {
  .wsk-cp-product {
    margin: 40px auto;
  }

  .wsk-cp-product .wsk-cp-img {
    top: -40px;
  }

  .wsk-cp-product .wsk-cp-img img {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  .wsk-cp-product .wsk-cp-text .category > span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
  }

  .wsk-cp-product .wsk-cp-text .category {
    margin-top: 0px;
  }

  a.buy-btn {
    border-color: #ff9800;
    background: #ff9800;
    color: #fff;
  }
}

.carousel {
    padding-top: 60px !important;
}

.carousel img {
    height: 850px !important;
    width: 100% !important;
    object-fit: cover ;
    object-position: center !important;
}

#prezzoriginale
{
	font-size: 14px;
	color: gray;
}

#prezzoscontato
{
	
	font-size: 22px;
	color: red;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition: color 0.3s ease;
}

.close:hover,
.close:focus {
	color: #555;
	text-decoration: none;
	cursor: pointer;
}

.modal-content {
	background: #f9f9f9;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 80%;
	max-width: 600px;
	animation-name: fadein;
	animation-duration: 0.3s;
}

@keyframes fadein {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.modal-header {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.modal-body {
	padding: 10px;
}

.modal-footer {
	padding: 10px;
	border-top: 1px solid #ccc;
	text-align: right;
}

.modal-button {
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	background-color: #4caf50;
	color: white;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.modal-button:hover {
	background-color: #45a049;
}

.modal-button.secondary {
	background-color: #ccc;
}

.modal-button.secondary:hover {
	background-color: #bbb;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
input[type="checkbox"]:focus {
  outline: 0;
}

.toggle {
  height: 32px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  transition: all 0.2s ease;
}
.toggle:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:checked {
  border-color: #654FEC;
}
.toggle:checked:after {
  transform: translateX(20px);
}



.btn-primary {
  background-color: #4CAF50 !important;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #45a049;
}


xbtn-shop
{
	background-color: #4CAF50 !important;
	  color: white;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
  		transition: background-color 0.3s ease;
}

.btn-negozz
{
	background-color: #4CAF50 !important;
	  
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
  		transition: background-color 0.3s ease;
}


.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-green {
  background-color: #4CAF50;
  color: white;
}

.btn-green:hover {
  background-color: #45a049;
}

.fa-sharp {
  font-family: "FontAwesome";
}

.fa-2xl {
  font-size: 2rem;
}



    .navbar {
        background-color: rgba(0, 0, 0, 0.4) !important;
        backdrop-filter: blur(10px) !important;
    }



.navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
}

.dark-mode a.buy-btn
{
  color: rgb(211, 207, 202);
  border-color: rgb(129, 120, 106);


}

body.dark-mode
{
  background-color: rgb(43, 47, 49) !important;
  color: white !important;
}

.dark-mode .wsk-cp-product
{
     background-color: rgb(24, 26, 27);
}

.dark-mode a.buy-btn:hover a.buy-btn:active a.buy-btn:focus
{
    color: #212121 !important;
}

.dark-mode .bg-body-tertiary  {
    --darkreader-bg--bs-bg-opacity: 1;
    background-color: rgb(36, 39, 41) !important;
}


.dark-mode .navbar-nav .nav-link.active,
.dark-mode .navbar-nav .nav-link.active:hover,
.dark-mode .navbar-nav .nav-link.active:focus {
    color: white !important;
}

.dark-mode .navbar-collapse {
    background-color: rgb(43, 47, 49) !important;
    filter: brightness(0.8);
}

.dark-mode .navbar-toggler-icon {
    filter: invert(1);
}

.dark-mode .navbar-light .navbar-brand {
    color: white !important;
}

.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 2px 4px 12px rgba(25,27,42,0.05);
  max-width: 400px;
  background: white;
}

.form-label {
  margin-top: 10px;
  font-weight: bold;
}

.custom-select {
  margin-top: 5px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
}

#filter-button {
   margin-top: 15px !important;
}

.filter-button:hover {
  background-color: #45a049;
}

option {
  padding: 5px;
}

.flex-container {
    display: flex;
    justify-content: center;
    background: #f7f7f7;
}

.card-box {
    min-width: 22rem;
}

.shell-filter {
    padding: 95px 0;
}

.navbar-right {
    margin-right: 18px;
}

.form-control {
    border-radius: 16px !important;
}

.carousel-inner {
    height: 45rem;
}

.quantity {
    border-radius: 6px;
    border-width: 1px;
    border-color: #a1a1a13d;
}

.footer-container {
    background-image: linear-gradient(to right, black, #8d8d8d);
}

.