

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
input[type="checkbox"]:focus {
  outline: 0;
}

.navbar-right {
    margin-right: 18px;
}

.form-control {
    border-radius: 16px !important;
}

.toggle {
  height: 32px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  transition: all 0.2s ease;
}
.toggle:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:checked {
  border-color: #654FEC;
}
.toggle:checked:after {
  transform: translateX(20px);
}

.btn-primary {
  background-color: #4CAF50 !important;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #45a049;
}


xbtn-shop
{
	background-color: #4CAF50 !important;
	  color: white;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
  		transition: background-color 0.3s ease;
}

.btn-negozz
{
	background-color: #4CAF50 !important;

	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
  		transition: background-color 0.3s ease;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-green {
  background-color: #4CAF50;
  color: white;
}

.btn-green:hover {
  background-color: #45a049;
}

.fa-sharp {
  font-family: "FontAwesome";
}

.fa-2xl {
  font-size: 2rem;
}

    .navbar {
        background-color: rgba(0, 0, 0, 0.4) !important;
        backdrop-filter: blur(10px) !important;
    }

.navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
}

.dark-mode a.buy-btn
{
  color: rgb(211, 207, 202);
  border-color: rgb(129, 120, 106);


}

body.dark-mode
{
  background-color: rgb(43, 47, 49) !important;
  color: white !important;
}

.dark-mode .wsk-cp-product
{
     background-color: rgb(24, 26, 27);
}

.dark-mode a.buy-btn:hover a.buy-btn:active a.buy-btn:focus
{
    color: #212121 !important;
}

.dark-mode .bg-body-tertiary  {
    --darkreader-bg--bs-bg-opacity: 1;
    background-color: rgb(36, 39, 41) !important;
}


.dark-mode .navbar-nav .nav-link.active,
.dark-mode .navbar-nav .nav-link.active:hover,
.dark-mode .navbar-nav .nav-link.active:focus {
    color: white !important;
}

.dark-mode .navbar-collapse {
    background-color: rgb(43, 47, 49) !important;
    filter: brightness(0.8);
}

.dark-mode .navbar-toggler-icon {
    filter: invert(1);
}

.dark-mode .navbar-light .navbar-brand {
    color: white !important;
}

.navbar-nav .nav-link {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 12px;
  margin-right: 10px;
}

.navbar-nav .nav-link i {
  color: white;
  margin-right: 5px;
}

#titolo-1 {

   background-image: linear-gradient(to right, black, #86E825);
  text-align: center;
  padding: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-top: 60px;
}

/* Stile generale per le tabelle */
table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;

}

.td-element {
text-align: center;
}

table th {
  background-color: #f2f2f2;
}

/* Nascondi le tabelle inizialmente */
#cpu-table,
#gpu-table,
#motherboard-table,
#pc-case-table,
#ram-table,
#hard-disk-table {
  display: none;
}

.dark-mode table th
{
color: black !important;
}

.table-container {
    padding-top: 3rem;
    display: flex;
    justify-content: center;

}

.table {
    width: 70% !important;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 2px 4px 12px rgba(25,27,42,0.05);
    margin: 15px auto;
    background: white;
    border-style: none;
}

.button-style {
    background-color: #2c87c3;
    color: #ffffff;
    padding: 0.125rem 0.375rem;
    font-size: 0.75rem!important;
    border-radius: 0.25rem;
    text-decoration: none!important;
    border-color: #2c87c3;
    font-weight: 700;
}

.button-add-element {
background-color: #4CAF50;
    color: #ffffff;
    padding: 0.125rem 0.375rem;
    font-size: 0.75rem!important;
    border-radius: 0.25rem;
    text-decoration: none!important;
    border-color: #4CAF50;
    font-weight: 700;
}

.button-delete {
    background-color: #dc4c64;
    color: white;
    padding: 0.125rem 0.375rem;
    font-size: 0.75rem!important;
    border-radius: 0.25rem;
    text-decoration: none!important;
    border-color: #dc4c64;
    font-weight: 700;
}

#opzione-th {
    width: 4rem;
}

tr th {
color: white !important;
}

.table-row {
  display: table;
}

.footer-container {
    margin-top: 11rem;
    background-image: linear-gradient(to right, black, #8d8d8d);
}

#prezzo-totale {


}


.container-input {
padding-top: 1rem;
display: flex;
justify-content: flex-end;
padding-right: 27rem;
}

.table th {
    font-weight: 700;

}

tbody {
 font-size: 14px !important;
 font-weight: 100 !important;
}

#headertabella
{
font-size: 20px !important;
font-weight: 10px;
text-align: center;
color: white !important;

.table>:not(caption)>*>*
{
color: white !important
}
.table
{
color:white !important;
}

background-color: rgba(0, 0, 0, 0.4) !important;
backdrop-filter: blur(10px) !important;

}
/*background-color: #FA9E42;background-image: linear-gradient(to top, #ffffff, #929f9b) */
#nCPU
{
color: black;
font-size: 20px
}

#nGPU
{
color: black;
font-size: 20px
}

#nSM
{
color: black;
font-size: 20px
}

#nCASE
{
color: black;
font-size: 20px
}

#nRAM
{
color: black;
font-size: 20px
}


#nHD
{
color: black;
font-size: 20px
}

#pCPU
{
color: green;
font-size: 20px

}

#pGPU
{
color: green;
font-size: 20px

}

#pSM
{
color: green;
font-size: 20px

}

#pCASE
{
color: green;
font-size: 20px

}

#pRAM
{
color: green;
font-size: 20px

}

#pHD
{
color: green;
font-size: 20px

}

.table {
    border-collapse: collapse;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.table th,
.table td {
    border-left: none;
    border-right: none;
}

.chatgpt-text {
    width: fit-content;
    padding: 1.4rem;
    word-spacing: 0.5em
}

.chatgpt-container {
    display: flex;
    justify-content: center;
    margin-top: 56px;
    border-radius: 6px;
    width: 100%;
}

.chatgpt-container-2 {
    width: 70%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.chatgpt-text {
    letter-spacing: 0.15rem;
}

.blinking-cursor {
  margin-left: 5px;
  background-color: #fff;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50.1%, 100% {
    opacity: 0;
  }
}
