.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.close
{
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus
{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-content{
	background: grey;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid black;
	width: 80%;
	animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {
    top: -300px;
    	opacity: 0
    }

    to {
    	top: 0;
        opacity: 1
        }
     }

.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}


#titolo-1
{
      font-family: 'Montserrat', sans-serif;
    }



    .navbar-nav .nav-link {
        color: white !important;
        border: none !important;
    }

    .navbar-nav .nav-link i {
    padding: 4px;
    }



    .nav-icon {
        color: inherit;
    }

    .nav-item:hover .nav-icon {
        color: #86E825;
    }

 .nav-item
                {
                    list-style: none;
                }

                .icon-hover:hover
                {
                    color: 86E825;
                }

                 .nav-link:hover .fa-right-from-bracket
                 {
                    color: #dc4c64;
                 }


 .price-container {

   }

   /* Resto degli stili come prima */
   #prezzo-totale {
     margin-bottom: 5px;
     text-align: center;
   }

   #TOTAL {
     font-weight: bold;
     color: green;
   }

   .add-to-cart-button {
    background-color: #4CAF50;
     color: #ffffff;
     padding: 0.125rem 0.375rem;
     font-size: 1rem!important;
     border-radius: 0.25rem;
     text-decoration: none!important;
     border-color: #4CAF50;
     font-weight: 700;






         #titolo-1 {
           font-family: 'Montserrat', sans-serif;
          background-color: linear-gradient(to right, #297304, #000000) !important;
         }
       </style>

       <style>
         .navbar-nav .nav-link {
             color: white !important;
             border: none !important;
         }

         .navbar-nav .nav-link i {
         padding: 4px;
         }

         .nav-icon {
             color: inherit;
         }

         .nav-item:hover .nav-icon {
             color: #86E825;
         }

